.root {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--bg-logo);
  color: var(--main-color);
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;

  &:hover {
    background-color: var(--bg-hover-color);
  }
}

.buttons {
  button {
    width: 100px;
    margin-left: 18px;
  }

  a {
    text-decoration: none;
  }
}
