:root {
  --main-color: #fff;
  --bg-logo: #443b3b;
  --bg-hover-color: #4361ee;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
  color: #213547;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  height: 100vh;
}

h1,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
}
